{% extends 'base.html' %}

{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Marca</th>
      <th scope="col">Preço</th>
      <th scope="col">Volume</th>
      <th scope="col">Medida de volume</th>
      <th scope="col">Descrição</th>
    </tr>
  </thead>

  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row">1</th>
      <td><a>{{ product.id }}</a></td>
      <td>{{ product.name }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.volume }}</td>
      <td>{{ product.volume_metric }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
