{% extends 'base.html' %}
{% block content %}

<div class="card" style="width: 30rem; text-align: center; margin: 20px auto 0; max-width: 500px; margin-bottom: 20px;">
  {% if object.photo %}
  <img src="..." class="card-img-top" alt="...">
  {% else %}
    <p class="no-photo"> Foto Não Disponivel</p>
  {% endif %}
     <div class="card-body">
    <h5 class="card-title">{{ object.brand }} {{ object.name }} </h5>
    <p class="card-text">{{ object.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ object.volume }} {{ object.volume_metric }}</li>
    <li class="list-group-item">R${{ object.price }}</li>
  </ul>

</div>

{% endblock %}