{% extends 'base.html' %}
{% block content %}

<div class="card" style="width: 15rem; text-align: center; margin: 20px auto 0; max-width: 500px; margin-bottom: 20px;">
  {% if object.photo %}
  <img src="{{ object.photo.url }}" class="card-img-top" alt="{{ object.brand }} - {{ object.name }}">
  {% else %}
    <p class="no-photo"> Foto Não Disponivel</p>
  {% endif %}
     <div class="card-body">
    <h5 class="card-title">{{ object.brand }} {{ object.name }} </h5>
    <p class="card-text">{{ object.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ object.volume }} {{ object.volume_metric }}</li>
    <li class="list-group-item">{{ object.price }} Reais</li>
  </ul>
  <div class="buttons-container">
    <a href="{% url 'products:product_update' pk=object.pk %}" class="btn btn-primary">Editar</a>
    <a href="{% url 'products:product_delete' pk=object.pk %}" class="btn btn-danger">Deletar</a>
  </div>
</div>

{% endblock %}